
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Append {
    width: 70px;
    height: 10px;
    background-color: transparent;
    border: 0px;
}

.column {
    width: 120px;
    height: 40px;
    margin-left: 15px;
    margin-top:5px;
}
.headerSelector{
    margin-left: 12px;
    width: 124px;
    height: 33px;
    margin-top: 11px;
}

.leftButtons {
    width: 100%;
    height: 30px;
    font-size: 10px;
}

.problemButton {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    background-color: white;
    border: 0px solid white;
}
.problemButton:hover{
    background-color: lightblue;
}

.appendButton {
    float: right;
    width: 41px;
    height: 41px;
    border-radius: 10000px;
    margin-left: 10px;
    border: 1px solid white;
    background-color: lightblue;
}
#root {
    width: 100%;
    display: flex;
}

.inputBoxLong {
    width: 100%;
    height: 30px;
    margin: auto;
    border-radius: 1000px;
    padding-left: 10px;
    font-size: 15px;
}

.centerText {
    margin-left: 20px;
}

.routerImage {
    margin: auto;
    min-width: 60%;
    max-width: 80%;
    height: auto;
    padding-bottom: 20px;
}

.routerImageBottom {
    margin: auto;
    min-width: 60%;
    max-width: 80%;
    height: auto;
    padding-bottom: 20px;
}

.labelClass {
    width: 100%;
}

.graphicsSelectorBottom {
    margin-left: 20px;
    width: 90%;
    min-height: 300px;
    max-height: 500px;
    display: Block;
}

.appendBar {
    display: flex;
    width: 100%;
}

.graphicsSelector {
    margin-left: 20px;
    width: 90%;
    min-height: 300px;
    max-height: 500px;
    display: flex;
}

.problemSelector {
    margin-left: 20px;
    width: 90%;
    height: 100px;
    display: flex;
    padding-bottom: 101px;
}

.centerInput {
    width: 70%;
    margin-left: 10px;
}

.rightBody {
    display: block;
    width: 100%;
}

.imageButton {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.TableDivBottom {
    min-width: 20%;
    height: auto;
}

.TableDiv {
    min-width: 20%;
    height: auto;
    margin-left: 31px;
}

.sideBySide {
    width: 100%;
    height: auto;
    display: flex;
    min-width: 200px;
    max-width: 500px;
}

.BottomLeft {
    float: left;
}

.BottomRight {
    margin-left: 100%;
}

.l2Header {
    border-bottom: 1px solid black;
}
td {
    border: 1px solid #dddddd;
    padding: 4px;
    margin: auto;
    font-size: 14px;
}
th{
    border: 1px solid #dddddd;
    padding-right: 13px;
    padding-bottom: 13px;
    margin: auto;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#left {
    width: 20%;
    height: 1000px;
    background-color: #ededed;
    position: fixed;
}

#right {
    width: 70%;
    height: 100%;
    margin-left: 22%;
}
