
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Append {
    width: 70px;
    height: 70px;
}

.column {
    width: 120px;
    height: 40px;
    margin-left: 15px;
}

#root {
    width: 100%;
    display: flex;
}

.inputBoxLong {
    width: 100%;
    height: 30px;
    margin: auto;
    border-radius: 1000px;
    padding-left: 10px;
    font-size: 15px;
}

.centerText {
    margin-left: 20px;
}

.routerImage {
    margin: auto;
    min-width: 60%;
    max-width: 80%;
    height: auto;
    padding-bottom: 20px;
}

.routerImageBottom {
    margin: auto;
    min-width: 60%;
    max-width: 80%;
    height: auto;
    padding-bottom: 20px;
}

.labelClass {
    width: 100%;
}

.graphicsSelectorBottom {
    margin-left: 20px;
    width: 90%;
    min-height: 300px;
    max-height: 500px;
    display: Block;
}

.graphicsSelector {
    margin-left: 20px;
    width: 90%;
    min-height: 300px;
    max-height: 500px;
    display: flex;
}

.problemSelector {
    margin-left: 20px;
    width: 90%;
    height: 100px;
    display: flex;
    padding-bottom: 101px;
}

.centerInput {
    width: 70%;
    margin-left: 10px;
}

.rightBody {
    display: block;
    width: 100%;
}

.imageButton {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.TableDivBottom {
    min-width: 20%;
    height: auto;
}

.TableDiv {
    min-width: 20%;
    height: auto;
}

.sideBySide {
    width: 100%;
    height: auto;
    display: flex;
    min-width: 200px;
    max-width: 500px;
}

.BottomLeft {
    float: left;
}

.BottomRight {
    margin-left: 100%;
}

.l2Header {
    border-bottom: 1px solid black;
}

#left {
    width: 20%;
    height: 500px;
    background-color: crimson;
}

#right {
    width: 70%;
    height: 100%;
}
